<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bug tracker</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/Add User Style.css">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <div class="top">
      <input type="text" name="search" id="myInput" onkeyup="myFunction()" placeholder="Search..">
      <div class="dropdown">
        <button class="dropbtn">Welcome Admin</button>
        <div class="dropdown-content">
          <a href="/">LogOut</a>
        </div>
      </div>
      <img src="images/logo.png" alt="logo">
    </div>
  </head>

  <body>
