<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Bug page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="images/icons/favicon.ico" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Alata|Josefin+Sans|Maven+Pro&display=swap" rel="stylesheet">
  <meta name="theme-color" content="#563d7c">

  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="css/bugpage.css">

  <!--===============================================================================================-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!--===============================================================================================-->

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <style>
    /* Modify the background color */
    .card {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }

    .card:hover {
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    }

    .navbar-custom {
      background-color: #0f3057;
    }

    /* Modify brand and text color */

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
      color: white;
    }
  </style>

  <script>
    $(document).ready(function() {
      $("#myinput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#card div").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);

        });
      });
    });
  </script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<body>
  <div class="sidebar_btn">
    <span class="fas fa-bars"></span>
  </div>
  <nav class="sidebar text-center">
    <div class="text">
      Side Menu</div>
    <ul>
      <li><a href="/developerhomepage.html">Home</a></li>
      <li><a href="#">Update Status</a></li>
      <li><a href="reportbugdev.html">Report Bug</a></li>
    </ul>
  </nav>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <a class="navbar-brand" href="/developerhomepage.html"><img src="images/logo.png" width="30" height="30" alt="" loading="lazy">
        Dynamic Bug Tracker System
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome Developer
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="userprofile.html">My Profile</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>



  <div class="container" style="margin-top:40px; border: 10px solid;">
    <h2 class="text-center">Bug Details</h2>
    <table class="table" id="basic_bug_details">
      <tbody>
        <tr>
          <th width="11%">Project Id</th>
          <td width="22%">Proj302</td>
          <th width="11%">Project Name</th>
          <td width="22%">Our Project</td>
          <th width="11%">Status</th>
          <td width="22%">Active</td>
        </tr>
        <tr>
          <th width="11%">Category</th>
          <td width="22%">A</td>
          <th width="11%">Severity</th>
          <td width="22%">Medium</td>
          <th width="11%">Bug Id</th>
          <td width="22%">AM302</td>
        </tr>
        <tr>
          <th width="11%">Opened Date</th>
          <td width="22%">1-oct-2020</td>
          <th width="11%">Due Date</th>
          <td width="22%">8-oct-2020</td>
          <th width="11%">Closed Date</th>
          <td width="22%">8-oct-2020</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="container" style="margin-top: 40px;">
    <form class="add_comment_form">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="add_comment">Comment</label>

        <textarea class="form-control col-sm-8" name="add_comment" rows="2" required></textarea>
        <button class="col-sm-2 btn btn-primary btn-sm" type="submit" value="comment">Submit</button>


      </div>
    </form>
  </div>

  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <div>
          <img class="img-valign" src="images/logo.png" alt="avatar" />
          <span class="text1"><small><strong>GVS Sri Ram</strong></small></span>
          <span class="text1"><small>8-Oct-2020 11:00 am</small></span>
          <br>
          <p class="text1">Comment line Comment line Comment line Comment line Comment line Comment line Comment line Comment line Comment line Comment line Comment line Comment line Comment line Comment line Comment line </p>
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <img class="img-valign" src="images/me.jpg" alt="avatar" />
          <span class="text1"><small><strong>GVS Sri Ram</strong></small></span>
          <span class="text1"><small>8-Oct-2020 11:00 am</small></span>
          <br>
          <p class="text1">Commentsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss sssssssssssssssssssssssssssssssssssssssssssssssss</p>
        </div>
      </li>
    </ul>
  </div>

  <script>
    $('.sidebar_btn').click(function() {
      $(this).toggleClass("click");
      $('.sidebar').toggleClass("show");
    });
    $('.feat-btn').click(function() {
      $('nav ul .feat-show').toggleClass("show");
      $('nav ul .first').toggleClass("rotate");
    });
    $('.serv-btn').click(function() {
      $('nav ul .serv-show').toggleClass("show1");
      $('nav ul .second').toggleClass("rotate");
    });
    $('nav ul li').click(function() {
      $(this).addClass("active").siblings().removeClass("active");
    });
  </script>

</body>

</html>
