<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
  </head>
  <body>
    <h1>  Bug id : <%= title %> </h1>
    <p> Project id : <%= project %>   </p>
    <p> Due date : <%= date %> <p>
    <h2> Description : </h2>
    <p>Vivamus iaculis ligula diam, quis feugiat elit luctus a. Praesent dictum tincidunt molestie. Vivamus lorem massa, faucibus et tristique eu, imperdiet id leo. Vivamus ullamcorper tempus tortor vel blandit. Nulla sollicitudin, lectus vel rutrum tincidunt, metus mauris convallis sem, non consectetur turpis nisi ultricies purus. In laoreet diam non facilisis pretium. Suspendisse porta tortor vel nisi maximus, ut maximus purus commodo </p>
    <h2> Comments : </h3>
  </body>
</html>
