<!DOCTYPE html>
<html>

<head>
  <title>User List</title>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <link rel="stylesheet" href="css/developer.css">
</head>

<body>
  <div class="wrapper">

    <div class="top">
      <input type="text" name="search" id="myInput" onkeyup="myFunction()" placeholder="Search..">

      <div class="dropdown">
        <button class="dropbtn">Welcome Developer</button>
        <div class="dropdown-content">
          <a href="/logout">LogOut</a>
        </div>
      </div>
      <img src="images/logo.png" alt="logo">
    </div>


    <nav class="menu">
      <a href="developer">Assigned Works</a>
    </nav>

    <div class="bottom">


      <div class="user_list">
        <div style="overflow-x:auto;">
          <table id="dev_works">
            <thead>
              <tr>
                <th onclick=sortTable(0)>S.No</th>
                <th>Bug Id</th>
                <th>Project Id</th>
                <th onclick=sortTable(3)>Category</th>
                <th onclick=sortTable(4)>Severity</th>
                <th onclick=sortTable(5)>Opened Date</th>
                <th onclick=sortTable(6)>Due Date</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>AM3201</td>
                <td>5232</td>
                <td>A</td>
                <td>M</td>
                <td>06/03/1998</td>
                <td>02/10/2020</td>
                <td>
                  <select class="bug_status" name="bug_status">
                    <option value="n">Not Fixed</option>
                    <option value="y">Fixed</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>CH3202</td>
                <td>5232</td>
                <td>C</td>
                <td>H</td>
                <td>05/06/2001</td>
                <td>02/09/2020</td>
                <td>
                  <select class="bug_status" name="bug_status">
                    <option value="n">Not Fixed</option>
                    <option value="y">Fixed</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>BL3203</td>
                <td>5232</td>
                <td>B</td>
                <td>L</td>
                <td>25/03/2005</td>
                <td>02/08/2020</td>
                <td>
                  <select class="bug_status" name="bug_status">
                    <option value="n">Fixed</option>
                    <option value="y">Not Fixed</option>
                  </select>
                </td>
              </tr>
            </tbody>

            <tfoot>

            </tfoot>


          </table>
        </div>
      </div>
    </div>

  </div>
  <script src="js/developer.js" charset="utf-8"></script>
  <script src="js/user list.js" charset="utf-8"></script>
</body>
