
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <title>Forgot Password</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

    <!-- Bootstrap core CSS -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Favicons -->
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/forgotpassword.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="forgot_password" action ="/forgotpassword" method = "post">
  <img class="mb-4" src="images/logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Forgot Your Password?</h1>
  <p>No worries. We got your back</p>

  <input type="email" name="email" class="form-control top" placeholder="Email" required autofocus>
  <input type="text" name="new_password"class="form-control middle" placeholder="New Password" required>
  <input type="password" name="confirm_new_password" class="form-control bottom" placeholder="Confirm New Password" required>
  <div class="checkbox mb-3">

  <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
  <p class="mt-5 mb-3 text-muted">&copy; Dynamic BTS</p>
</form>
</body>
</html>
