<!DOCTYPE html>
<html>

<head>
  <title>User List</title>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <link rel="stylesheet" href="css/user requests.css">
</head>

<body>
  <div class="wrapper">

    <div class="top">
      <input type="text" name="search" id="myInput" onkeyup="myFunction()" placeholder="Search..">

      <div class="dropdown">
        <button class="dropbtn">Welcome Admin</button>
        <div class="dropdown-content">
          <a href="#">LogOut</a>
        </div>
      </div>
      <img src="images/logo.png" alt="logo">
    </div>


    <nav class="menu">
      <a href="bugs list.html">Bugs</a>
      <a href="User list.html">Manage Users</a>
      <a href="#">Statistics</a>
    </nav>

    <div class="bottom">
      <div class="Manage_User_Options" id="leftbox">
        <li>
          <a target="_top" href="User list.html">User List</a>
        </li>
        <li>
          <a target="_top" href="Add User.html">Add User</a>
        </li>
        <li>
          <a target="_top" href="#">Requests</a>
        </li>
      </div>

      <div class="user_list" id="rightbox">
        <div style="overflow-x:auto;">
          <table id="Employee_List" -->
            <thead>
              <tr>
                <th onclick=sortTable(0)>S.No</th>
                <th onclick=sortTable(1)>Name</th>
                <th>Contact No</th>
                <th>Email Id</th>
                <th>Accept/Deny</th>
                <th>Role</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>Rakesh</td>
                <td>5232</td>
                <td>lollipop2@gmail.com</td>
                <td>
                  <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
                </td>
                <td>
                  <select class="assign_role" name="bug_status">
                    <option value="" disabled selected>Select a role</option>
                    <option value="dev">Developer</option>
                    <option value="tes">Tester</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Olivia</td>
                <td>2461</td>
                <td>popcorn@gmail.com</td>
                <td>
                  <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
                </td>
                <td>
                  <select class="assign_role" name="bug_status">
                    <option value="" disabled selected>Select a role</option>
                    <option value="dev">Developer</option>
                    <option value="tes">Tester</option>
                  </select>
                </td>
              </tr>
            </tbody>

            <tfoot>

            </tfoot>


          </table>
        </div>
      </div>
    </div>

  </div>
  <script src="js/user list.js" charset="utf-8"></script>
</body>
