<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>User List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="images/icons/favicon.ico" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Alata|Josefin+Sans|Maven+Pro&display=swap" rel="stylesheet">
  <meta name="theme-color" content="#563d7c">

  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="css/userlist.css">

  <!--===============================================================================================-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!--===============================================================================================-->

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <style>
    /* Modify the background color */
    .card {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }

    .card:hover {
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    }

    .navbar-custom {
      background-color: #0f3057;
    }

    /* Modify brand and text color */

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
      color: white;
    }

    .btn-primary {
      margin-left: 135px;
    }
  </style>

  <script>
    $(document).ready(function() {
      $("#myinput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#card div").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);

        });
      });
    });
  </script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<body class="text-center">
  <div class="sidebar_btn">
    <span class="fas fa-bars"></span>
  </div>
  <nav class="sidebar">
    <div class="text">
      Side Menu</div>
    <ul>
      <li><a href="dashboard.html">Dashboard</a></li>
      <li>
        <a href="#" class="feat-btn">Bugs
          <span class="fas fa-caret-down first"></span>
        </a>
        <ul class="feat-show">
          <li><a href="bugslist.html">Bugs List</a></li>
          <li><a href="assign.html">Assign</a></li>
        </ul>
      </li>
      <li class="active">
        <a href="#" class="serv-btn">Manage Users
          <span class="fas fa-caret-down second"></span>
        </a>
        <ul class="serv-show">
          <li><a href="userlist.html">User List</a></li>
          <li><a href="adduser.html">Add User</a></li>
          <li><a href="requests.html">Requests</a></li>
          <li><a href="removeuser.html">Remove User</a></li>
        </ul>
      </li>
      <li><a href="reportbugadmin.html">Report Bug</a></li>
    </ul>
  </nav>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <a class="navbar-brand" href="dashboard.html"><img src="images/logo.png" width="30" height="30" alt="" loading="lazy">
        Dynamic Bug Tracker System
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="userprofile.html">My Profile</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <h2 style="margin:20px 0;">User List</h2>

  <div class="container">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <table id="user_table" class="table">
      <thead class="thead-dark sticky">
        <tr>
          <th scope="col">Employee Id</th>
          <th onclick="sortTable(1)" scope="col">Name</th>
          <th onclick="sortTable(2)" scope="col">Role</th>
          <th scope="col">Contact No</th>
          <th scope="col">Email</th>
          <th scope="col">Projects Assigned</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr>
          <th scope="row">1</th>
          <td>Sri ram</td>
          <td>Tester</td>
          <td>9932362723</td>
          <td>gvs.iitkgp@gmail.com</td>
          <td>1234</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Ashok</td>
          <td>Developer</td>
          <td>123456789</td>
          <td>banothashok2015@gmail.com</td>
          <td>1234</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function() {
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

  <script>
    $('.sidebar_btn').click(function() {
      $(this).toggleClass("click");
      $('.sidebar').toggleClass("show");
    });
    $('.feat-btn').click(function() {
      $('nav ul .feat-show').toggleClass("show");
      $('nav ul .first').toggleClass("rotate");
    });
    $('.serv-btn').click(function() {
      $('nav ul .serv-show').toggleClass("show1");
      $('nav ul .second').toggleClass("rotate");
    });
    $('nav ul li').click(function() {
      $(this).addClass("active").siblings().removeClass("active");
    });
  </script>

  <script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("user_table");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

</body>

</html>
